@font-face {
  font-family: myfont;
  src: url("../font/opensans-condlight-webfont.eot");
  src: url("../font/OpenSans-CondLight.ttf") format('truetype'),
  url("../font/opensans-condlight-webfont.eot?#iefix'") format('embedded-opentype'),
  url("../font/opensans-condlight-webfont.woff") format('woff'),
  url("../font/opensans-condlight-webfont.svg") format('svg');
}
@font-face {
  font-family: myfont2;
  src: url("../font/opensans-webfont.eot");
  src: url("../font/openSans.ttf") format('truetype'),
  url("../font/opensans-webfont.eot?#iefix'") format('embedded-opentype'),
  url("../font/opensans-webfont.woff") format('woff'),
  url("../font/opensans-webfont.svg") format('svg');
}
@font-face {
  font-family: Roboto;
  src: url("../font/roboto-condensed-webfont.eot");
  src: url("../font/Roboto-Condensed.ttf") format('truetype'),
  url("../font/roboto-condensed-webfont.eot?#iefix'") format('embedded-opentype'),
  url("../font/roboto-condensed-webfont.woff") format('woff'),
  url("../font/roboto-condensed-webfont.svg") format('svg');
}
@font-face {
  font-family: BoldRoboto;
  src: url("../font/roboto-boldcondensed-webfont.eot");
  src: url("../font/Roboto-BoldCondensed.ttf") format('truetype'),
  url("../font/roboto-boldcondensed-webfont.eot?#iefix'") format('embedded-opentype'),
  url("../font/roboto-boldcondensed-webfont.woff") format('woff'),
  url("../font/roboto-boldcondensed-webfont.svg") format('svg');
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: #bbb;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #777;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #777;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #bbb;
}
*{
  margin:0;
  padding:0;
  max-height:9999px;
}
.placeholder{
  color:#bbb;
}
ul{
  list-style: none;
}
body{
  background:#e3e3e3;
}
.clear{
  clear: both;
}
input{
  background:#fff;
  font-family: Roboto;
  line-height: 40px\9;
}
.wrapper{
  margin:0 auto;
}
.header{
  height:260px;
  .wrapper{
    padding-top:40px;
    height:220px;
    .img{
      width: 164px;
      height:164px;
      float:left;
      img{
        border:none;
        width:100%;
      }
    }
    .text{
      font-family:"myfont";
      margin-left:10px;
      width:390px;
      float:left;
      font-size:40px;
      letter-spacing: 2px;
      font-style: normal;
      text-align: center;
      color:#2D2D2D;
      .title{
        padding-bottom:10px;
        border-bottom:2px #ddbf9b solid;
      }
      .gateway{
        font-size: 34px;
        color:rgba(183,114,49,1);
        font-family: Arial;
        margin-top:10px;
        letter-spacing: 0;
      }
    }
  }
}

.container{
  font-family: Roboto;
  margin-top: 40px;
  padding:0 10px;
  .content{
    overflow: hidden;
    margin:0 auto;
    .img{
      height:500px;
      background:url("../img/westlake4-2.jpg") 0 -458px no-repeat;
      background-size:100%;

    }
    .login{
      h2{
        margin:40px 0;
        font-family: BoldRoboto;
        color:#b77231;
        font-size: 36px;
      }
      form{
        .row{
          overflow: hidden;
          height:82px;
          margin-bottom:10px;
          input[type="text"],input[type="password"]{
            font-size: 28px;
            text-indent: 1em;
            width:99.4%;
            height:80px;
            border:1px solid #ccc;
            -webkit-border-radius:6px;
            -moz-border-radius:6px;
            border-radius:6px;
            outline:none;
            float: left;
          }
        }

        p{
          text-align: right;
          a{
            color:#666;
            font-size: 24px;
          }
        }
        .row{
          margin-top:40px;
          overflow: hidden;
          .sign{
            width:46%;
            float: left;
            color:#333;
            height:78px;
            background:#fff;
            line-height:78px;
            text-align: center;
            text-decoration: none;
            border:1px solid #ccc;
            font-size: 30px;
          }
          .code{
            width:48%;
            float: left;
          }
          .code_img{
            border:1px solid #aaa;
            height:80px;
            width:48%;
            float: right;
          }
          input[type=submit]{
            width:46%;
            float: right;
            height: 80px;
            *line-height: 30px;
            background:#a01e08;
            color:#fff;
            font-size: 30px;
            border:none;
            outline:none;
            cursor:pointer;
          }
        }
      }
      .return_info{
        color:red;
        font-size: 28px;
      }
    }
  }
}

.footer{
  height:70px;
  background:#fff;
  color:#444444;
  line-height: 70px;
  text-align: center;
  margin:200px 0 30px;
  font-family: myfont2;
  letter-spacing: 1px;
  font-size: 23px;
}
.top_box{
  display:none;
}