@font-face {
  font-family: myfont;
  src: url("../font/opensans-condlight-webfont.eot");
  src: url("../font/OpenSans-CondLight.ttf") format('truetype'),
  url("../font/opensans-condlight-webfont.eot?#iefix'") format('embedded-opentype'),
  url("../font/opensans-condlight-webfont.woff") format('woff'),
  url("../font/opensans-condlight-webfont.svg") format('svg');
}
@font-face {
  font-family: myfont2;
  src: url("../font/opensans-webfont.eot");
  src: url("../font/openSans.ttf") format('truetype'),
  url("../font/opensans-webfont.eot?#iefix'") format('embedded-opentype'),
  url("../font/opensans-webfont.woff") format('woff'),
  url("../font/opensans-webfont.svg") format('svg');
}
@font-face {
  font-family: Roboto;
  src: url("../font/roboto-condensed-webfont.eot");
  src: url("../font/Roboto-Condensed.ttf") format('truetype'),
  url("../font/roboto-condensed-webfont.eot?#iefix'") format('embedded-opentype'),
  url("../font/roboto-condensed-webfont.woff") format('woff'),
  url("../font/roboto-condensed-webfont.svg") format('svg');
}
@font-face {
  font-family: BoldRoboto;
  src: url("../font/roboto-boldcondensed-webfont.eot");
  src: url("../font/Roboto-BoldCondensed.ttf") format('truetype'),
  url("../font/roboto-boldcondensed-webfont.eot?#iefix'") format('embedded-opentype'),
  url("../font/roboto-boldcondensed-webfont.woff") format('woff'),
  url("../font/roboto-boldcondensed-webfont.svg") format('svg');
}

*{
  margin:0;
  padding:0;
  max-height:9999px;
}
ul{
  list-style: none;
}
body{
  background:#e3e3e3;
}
.clear{
  clear: both;
}
.wrapper{
  width:1200px;
  margin:0 auto;
}

.header{
  height:200px;
  .wrapper{
    padding-top:40px;
    height:220px;
    .img{
      width: 100px;
      height:100px;
      float:left;
      img{
        border:none;
      }
    }
    .text {
      font-family: "myfont";
      margin-left: 4px;
      width: 250px;
      float: left;
      font-size: 24px;
      letter-spacing: 2px;
      font-style: normal;
      text-align: center;
      color: #2D2D2D;
      .title {
        padding-bottom: 10px;
        border-bottom: 2px #ddbf9b solid;
      }
      .gateway {
        font-size: 18px;
        color: rgba(183, 114, 49, 1);
        font-family: Arial;
        margin-top: 10px;
        letter-spacing: 0;
      }
    }
    .login_apply{
      float: right;
      width:120px;
      margin-top:30px;
      a{
        display: block;
        text-decoration: none;
        color:#333;
        text-align: center;
        line-height:30px;
        font-family: Roboto;
        //border:1px solid #aaa;
        margin-bottom:6px;background:#fff;
      }
      a:hover{
        background:red;
        color:#fff;
      }
    }
  }
}
.choose{
  background:#ccc !important;
  color:#fff !important;
}
.nav_active{
  background-color:#cfa883 !important;
  color:#e3e3e3 !important;
}
.nav{
  height:44px;
  background:#b77231;
  .wrapper{
    position: relative;
    a{
      display:inline-block;
      text-decoration: none;
      width:16.667%;
      //margin:0 1px;
      color:#2D2D2D;
      text-align: center;
      line-height: 44px;
      font-family: "myfont2";
      font-size: 13px;
      background:transparent;
    }
    .list{
      display:none;
      position: absolute;
      top:44px;
      left:142px;
      width:136px;
      z-index:10;
      text-align: center;
      background:#fff;
      line-height: 30px;
      font-family:myfont2;
      font-size: 14px;
      li:hover{
        cursor:pointer;
      }
    }
  }
}
.top_box{
  float: right;
  width:530px;
  margin-top:40px;
  overflow: hidden;
  a{
    padding:8px 20px;
    margin-right:10px;
    text-decoration: none;
    color:#cfa883;
    text-align: center;
    line-height:40px;
    font-family: Roboto;
    border:1px solid #cfa883;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
  }
  a:hover{
    background:#cfa883;
    color:#fff;
  }
}
.container{
  font-family: Roboto;
  color:#666;
  h1,h2,h3{
    font-family:BoldRoboto;
  }
  .con{
    display:none;
    .banner{
      height:440px;
      padding-top:1px;
      position:relative;
      background:url("../img/westlake3.jpg") 0 -200px no-repeat;
      .text{
        width:1000px;
        margin:40px auto;
        h1{
          color:#fff;
          font-weight: bold;
          text-align: center;
          font-size: 36px;
        }
        p{
          color:#fff;
          font-size: 15px;
        }
      }
      .pos_nav{
        z-index: 10;
        overflow: hidden;
        position:absolute;
        left:50%;
        margin-left:-324px;
        bottom:-25px;
        box-shadow: #ccc 0 0 22px;
        a{
          font-family: BoldRoboto;
          font-size: 16px;
          float: left;
          height:50px;
          background:#fff;
          line-height: 50px;
          border-right:1px solid #ccc;
          padding:0 19px ;
          text-decoration: none;
          text-align: center;
          color:#666;
        }
        a:hover{
          background:rgb(207,168,131);
          color:#fff;
        }
        .apply{
          background:#caca17;
          color:#fff;
        }
        .apply:hover{
          background:#caca17;
        }
      }
    }
    .main{
      width:100%;
      overflow: hidden;
      .boxes{
        overflow: hidden;
        width:400%;
        .teaching_English,.position,.sabbatical,.apply{
          float: left;
          width:25%;
          h1{
            width:1000px;
            margin:60px auto 30px;
            color:#b77231;
          }
          .box{
            width:1000px;
            margin:0 auto 20px;
            overflow:hidden;
            .img{
              float: left;
              width:40%;
              height:240px;
              overflow: hidden;
              img{
                width:100%;
              }
            }
            .detail{
              font-size: 15px;
              float: right;
              width:58%;
              line-height: 30px;
            }
            .img2{
              float: right;
              width:40%;
              height:240px;
              overflow: hidden;
              img{
                width:100%;
              }
            }
            .detail2{
              font-size: 15px;
              float: left;
              width:58%;
              line-height: 30px;
            }
          }
          .warning{
            width:1000px;
            margin:0 auto;
            font-size: 15px;
            font-style: italic;
          }
          .guide{
            font-size: 15px;
            width:1000px;
            margin:20px auto;
            color:red;
          }
          .tab{
            width:1000px;
            margin:0 auto 60px;
            table{
              border-collapse:collapse;
              width:100%;
            }

          }
          .process{
            padding:10px;
            margin-top:60px;
            .box{
              width:1000px;
              margin:0 auto;
              overflow: hidden;
              h3{
                margin-bottom:12px;
                font-size: 22px;
              }
              p{
                line-height: 24px;
              }
              .decoration{
                text-decoration: underline;
              }
              ul{
                margin-left:30px;
                li{
                  line-height: 30px;
                  height:30px;
                  span{
                    font-family: BoldRoboto;
                    display: inline-block;
                    margin-right:10px;
                    font-size: 30px;
                    height:30px;
                    line-height: 26px;
                    vertical-align: top;
                  }
                }
              }

            }
          }
        }

        .teaching_English,.position,.sabbatical{
          .border{
            height:100%;
            border-right:1px solid #ccc;
          }
          .tab{
            width:1000px;
            margin:0 auto;
            background:#fff;
            overflow: hidden;
            h2{
              margin:0 0 10px 0;
              background:#aaa;
              color:#fff;
              line-height: 40px;
              padding:10px;
              text-align: center;
            }
            p,h3{
              font-size: 14px;
              padding:0 22px;
            }
            p{
              line-height: 24px;
              span{
                //font-size: 24px;
                margin-right:10px;
                //font-family: BoldRoboto;
                font-size: 24px;
              }
            }
            h3{
              line-height: 24px;
              font-family: BoldRoboto;
            }
            .country{
              float: left;
              width:16%;
              text-align: center;

            }
            .type{
              float: left;
              width:25%;

            }
            .length{
              float: left;
              width:25%;

            }
            .category{
              float: left;
              width:34%;

            }
          }
          .tab2{
            width:1000px;
            margin:30px auto 0;
            background:#fff;
            overflow: hidden;
            h2{
              margin:0 0 10px 0;
              //background:#00c1de;
              background:#aaa;
              color:#fff;
              line-height: 40px;
            }
            .salary{
              float: left;
              width:36%;
            }
            .fee{
              float: left;
              width:28%;

            }
            .qualifications{
              float: left;
              width:36%;

            }

          }

        }
        .position,.sabbatical,.apply{
          display:none;
        }
        .teaching_English{
          .tab{
            .country{
              height:260px;
            }
            .type{
              height:260px;

            }
            .length{
              height:260px;

            }
            .category{
              height:260px;

            }
            .salary{
              height:655px;
            }
            .fee{
              height:655px;

            }
            .qualifications{
              height:655px;

            }
          }
        }
        .position{
          .tab {
            .country {
              height: 424px;
            }
            .type {
              height: 424px;

            }
            .length {
              height: 424px;

            }
            .category {
              height: 424px;

            }
            .salary{
              height:466px;
            }
            .fee{
              height:466px;


            }
            .qualifications{
              height:466px;


            }
          }
        }
        .sabbatical {
          .tab {
            .country {
              height: 320px;
            }
            .type {
              height: 320px;

            }
            .length {
              height: 320px;

            }
            .category {
              height: 320px;

            }
            .salary{
              height:348px;
            }
            .fee{
              height:348px;


            }
            .qualifications{
              height:348px;


            }
          }
        }
      }
    }

  }
}
.footer{
  height:50px;
  background:#fff;
  color:#444444;
  line-height: 50px;
  text-align: center;
  margin:200px 0 30px;
  font-family: myfont2;
  letter-spacing: 1px;
  font-size: 13px;
}
.top{
  background:url("../img/arrowup.png") 3px -5px no-repeat #aaa;
  display: none;
  position:fixed;
  right:80px;
  bottom:30px;
  width:80px;
  height:80px;
  cursor:pointer;
}
.top:hover{
  background:url("../img/arrowup.png") 3px -5px no-repeat #666;
}

@media screen and (max-width: 1400px){
  .wrapper{
    width:960px;
  }
  .container .con .banner .text{
    width:860px;
  }
  .container .con .main .boxes  .programs .box{
      width: 900px;
      font-size: 16px;
  }
  .container .con .main .boxes  .programs .box .detail{
    line-height: 24px;
  }
  .container .con .main .boxes  .programs .box .detail2{
    line-height: 22px;
  }
  .container .con .main .boxes  .programs h1{
    width: 900px;
  }
  .container .con .main .boxes  .programs .warning{
    width:900px;
  }
  .container .con .main .boxes  .programs .guide{
    width:900px;
  }
  .container .con .main .boxes  .programs .tab{
    width:900px;
  }
  .container .con .main .boxes  .programs .process .box{
    width:900px;
  }
  .top{
    right:20px;
  }
}
@media screen and (max-width: 980px) {
  .banner {
    width: 980px;
  }
  .nav, .footer {
    width: 980px;
  }
  .container .con .main{
    width:980px;
  }
}

.header .wrapper .logo{
  overflow: hidden;
  float: left;
}
.header .wrapper .logo .text{
  height:110px;
  overflow: hidden;
}
.header .wrapper .top{
  overflow: hidden;
  float: left;
}
.header .wrapper .top_box{
  height:40px;
  overflow: hidden;
}
.header .wrapper .top_box a{
  line-height:40px;
}

.tab{
  width:1000px;
  margin:0 auto;
  background:#fff;
  overflow: hidden;
  h2{
    margin:0 0 10px 0;
    background:#aaa;
    color:#fff;
    line-height: 40px;
    padding:10px;
    text-align: center;
  }
  p,h3{
    font-size: 14px;
    padding:0 22px;
  }
  p{
    line-height: 24px;
    span{
      //font-size: 24px;
      margin-right:10px;
      //font-family: BoldRoboto;
      font-size: 24px;
    }
  }
  h3{
    line-height: 24px;
    font-family: BoldRoboto;
  }
  .country{
    float: left;
    width:16%;
    text-align: center;

  }
  .type{
    float: left;
    width:25%;

  }
  .length{
    float: left;
    width:25%;

  }
  .category{
    float: left;
    width:34%;

  }
}
.tab2{
  width:1000px;
  margin:30px auto 0;
  background:#fff;
  overflow: hidden;
  h2{
    margin:0 0 10px 0;
    //background:#00c1de;
    background:#aaa;
    color:#fff;
    line-height: 40px;
  }
  .salary{
    float: left;
    width:36%;
  }
  .fee{
    float: left;
    width:28%;

  }
  .qualifications{
    float: left;
    width:36%;

  }

}
