@font-face {
  font-family: myfont;
  src: url("../font/opensans-condlight-webfont.eot");
  src: url("../font/OpenSans-CondLight.ttf") format("truetype"), url("../font/opensans-condlight-webfont.eot?#iefix'") format("embedded-opentype"), url("../font/opensans-condlight-webfont.woff") format("woff"), url("../font/opensans-condlight-webfont.svg") format("svg"); }
@font-face {
  font-family: myfont2;
  src: url("../font/opensans-webfont.eot");
  src: url("../font/openSans.ttf") format("truetype"), url("../font/opensans-webfont.eot?#iefix'") format("embedded-opentype"), url("../font/opensans-webfont.woff") format("woff"), url("../font/opensans-webfont.svg") format("svg"); }
@font-face {
  font-family: Roboto;
  src: url("../font/roboto-condensed-webfont.eot");
  src: url("../font/Roboto-Condensed.ttf") format("truetype"), url("../font/roboto-condensed-webfont.eot?#iefix'") format("embedded-opentype"), url("../font/roboto-condensed-webfont.woff") format("woff"), url("../font/roboto-condensed-webfont.svg") format("svg"); }
@font-face {
  font-family: BoldRoboto;
  src: url("../font/roboto-boldcondensed-webfont.eot");
  src: url("../font/Roboto-BoldCondensed.ttf") format("truetype"), url("../font/roboto-boldcondensed-webfont.eot?#iefix'") format("embedded-opentype"), url("../font/roboto-boldcondensed-webfont.woff") format("woff"), url("../font/roboto-boldcondensed-webfont.svg") format("svg"); }
* {
  margin: 0;
  padding: 0;
  max-height: 9999px; }

ul {
  list-style: none; }

body {
  background: #e3e3e3; }

.clear {
  clear: both; }

.wrapper {
  width: 1200px;
  margin: 0 auto; }

.header {
  height: 200px; }
  .header .wrapper {
    padding-top: 40px;
    height: 220px; }
    .header .wrapper .img {
      width: 100px;
      height: 100px;
      float: left; }
      .header .wrapper .img img {
        border: none; }
    .header .wrapper .text {
      font-family: "myfont";
      margin-left: 4px;
      width: 250px;
      float: left;
      font-size: 24px;
      letter-spacing: 2px;
      font-style: normal;
      text-align: center;
      color: #2D2D2D; }
      .header .wrapper .text .title {
        padding-bottom: 10px;
        border-bottom: 2px #ddbf9b solid; }
      .header .wrapper .text .gateway {
        font-size: 18px;
        color: #b77231;
        font-family: Arial;
        margin-top: 10px;
        letter-spacing: 0; }
    .header .wrapper .login_apply {
      float: right;
      width: 120px;
      margin-top: 30px; }
      .header .wrapper .login_apply a {
        display: block;
        text-decoration: none;
        color: #333;
        text-align: center;
        line-height: 30px;
        font-family: Roboto;
        margin-bottom: 6px;
        background: #fff; }
      .header .wrapper .login_apply a:hover {
        background: red;
        color: #fff; }

.top_box {
  float: right;
  width: 530px;
  margin-top: 40px; }
  .top_box a {
    padding: 8px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #cfa883;
    text-align: center;
    line-height: 30px;
    font-family: Roboto;
    border: 1px solid #cfa883;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }
  .top_box a:hover {
    background: #cfa883;
    color: #fff; }

.choose {
  background: #ccc !important;
  color: #fff !important; }

.nav_active {
  background-color: #cfa883 !important;
  color: #e3e3e3 !important; }

.nav {
  height: 44px;
  background: #b77231; }
  .nav .wrapper {
    position: relative; }
    .nav .wrapper a {
      display: inline-block;
      text-decoration: none;
      width: 16.667%;
      color: #2D2D2D;
      text-align: center;
      line-height: 44px;
      font-family: "myfont2";
      font-size: 13px;
      background: transparent; }
    .nav .wrapper .list {
      display: none;
      position: absolute;
      top: 44px;
      left: 142px;
      width: 136px;
      z-index: 10;
      text-align: center;
      background: #fff;
      line-height: 30px;
      font-family: myfont2;
      font-size: 14px; }
      .nav .wrapper .list li:hover {
        cursor: pointer; }

.container {
  font-family: Roboto;
  color: #666; }
  .container h1, .container h2, .container h3 {
    font-family: BoldRoboto; }
  .container .con {
    display: none; }
    .container .con .banner {
      height: 340px;
      padding-top: 1px;
      position: relative;
      background: url("../img/westlake6.jpg") -400px -30px no-repeat; }
      .container .con .banner .text {
        width: 1000px;
        margin: 40px auto; }
        .container .con .banner .text h1 {
          color: #fff;
          font-weight: bold;
          text-align: center;
          font-size: 36px; }
        .container .con .banner .text p {
          color: #fff;
          font-size: 15px; }
      .container .con .banner .pos_nav {
        z-index: 10;
        text-align: center;
        overflow: hidden;
        position: absolute;
        left: 50%;
        margin-left: -267px;
        bottom: -25px;
        box-shadow: #ccc 0 0 22px; }
        .container .con .banner .pos_nav a {
          font-family: BoldRoboto;
          font-size: 16px;
          float: left;
          height: 50px;
          background: #fff;
          line-height: 50px;
          border-right: 1px solid #ccc;
          padding: 0 19px;
          text-decoration: none;
          text-align: center;
          color: #666; }
        .container .con .banner .pos_nav a:hover {
          background: #cfa883;
          color: #fff; }
        .container .con .banner .pos_nav .apply {
          background: #caca17;
          color: #fff; }
        .container .con .banner .pos_nav .apply:hover {
          background: #caca17; }
    .container .con .main {
      width: 100%;
      overflow: hidden; }
      .container .con .main .boxes {
        overflow: hidden;
        width: 400%; }
        .container .con .main .boxes .overview, .container .con .main .boxes .type, .container .con .main .boxes .process, .container .con .main .boxes .faq, .container .con .main .boxes .apply {
          float: left;
          width: 25%; }
          .container .con .main .boxes .overview .box, .container .con .main .boxes .type .box, .container .con .main .boxes .process .box, .container .con .main .boxes .faq .box, .container .con .main .boxes .apply .box {
            width: 1000px;
            margin: 60px auto 0;
            overflow: hidden; }
            .container .con .main .boxes .overview .box h1, .container .con .main .boxes .type .box h1, .container .con .main .boxes .process .box h1, .container .con .main .boxes .faq .box h1, .container .con .main .boxes .apply .box h1 {
              width: 100%;
              color: #b77231;
              margin-bottom: 30px; }
        .container .con .main .boxes .type {
          display: none; }
          .container .con .main .boxes .type h2 {
            margin-bottom: 10px; }
          .container .con .main .boxes .type .short_term {
            overflow: hidden;
            margin-bottom: 30px; }
            .container .con .main .boxes .type .short_term table {
              border-collapse: collapse;
              border: 1px solid #aaa;
              width: 98%; }
              .container .con .main .boxes .type .short_term table tr th {
                text-align: left;
                padding: 6px;
                border: 1px solid #aaa;
                background: #aaa;
                color: #fff; }
              .container .con .main .boxes .type .short_term table tr .th1 {
                width: 30%; }
              .container .con .main .boxes .type .short_term table tr .th2, .container .con .main .boxes .type .short_term table tr .th3, .container .con .main .boxes .type .short_term table tr .th4 {
                width: 20%; }
              .container .con .main .boxes .type .short_term table tr td {
                border: 1px solid #ccc;
                padding: 6px;
                background: #fff; }
          .container .con .main .boxes .type .degree {
            overflow: hidden;
            margin-bottom: 30px; }
            .container .con .main .boxes .type .degree table {
              border-collapse: collapse;
              border: 1px solid #aaa;
              width: 98%; }
              .container .con .main .boxes .type .degree table tr th {
                text-align: left;
                padding: 6px;
                border: 1px solid #aaa;
                background: #aaa;
                color: #fff; }
              .container .con .main .boxes .type .degree table tr .th1 {
                width: 30%; }
              .container .con .main .boxes .type .degree table tr .th2, .container .con .main .boxes .type .degree table tr .th3, .container .con .main .boxes .type .degree table tr .th4 {
                width: 20%; }
              .container .con .main .boxes .type .degree table tr td {
                border: 1px solid #ccc;
                padding: 6px;
                background: #fff; }
          .container .con .main .boxes .type .example {
            margin-top: 20px; }
            .container .con .main .boxes .type .example .row {
              overflow: hidden; }
              .container .con .main .boxes .type .example .row span {
                float: left;
                width: 3%;
                height: 30px;
                line-height: 30px; }
              .container .con .main .boxes .type .example .row p {
                line-height: 30px;
                width: 97%;
                float: left; }
            .container .con .main .boxes .type .example .row2 {
              overflow: hidden;
              width: 97%;
              float: right; }
              .container .con .main .boxes .type .example .row2 span {
                float: left;
                width: 2%;
                height: 30px;
                line-height: 30px;
                font-size: 30px;
                font-weight: bold; }
              .container .con .main .boxes .type .example .row2 p {
                line-height: 30px;
                width: 98%;
                float: left; }
            .container .con .main .boxes .type .example table {
              border-collapse: collapse;
              border: 1px solid #aaa;
              width: 98%; }
              .container .con .main .boxes .type .example table tr th {
                text-align: left;
                padding: 6px;
                border: 1px solid #aaa;
                background: #aaa;
                color: #fff; }
              .container .con .main .boxes .type .example table tr .th1 {
                width: 30%; }
              .container .con .main .boxes .type .example table tr .th2, .container .con .main .boxes .type .example table tr .th3, .container .con .main .boxes .type .example table tr .th4 {
                width: 20%; }
              .container .con .main .boxes .type .example table tr td {
                border: 1px solid #ccc;
                padding: 6px;
                background: #fff; }
        .container .con .main .boxes .process {
          display: none; }
          .container .con .main .boxes .process .row {
            overflow: hidden; }
            .container .con .main .boxes .process .row span {
              float: left;
              width: 3%;
              height: 30px;
              line-height: 30px; }
            .container .con .main .boxes .process .row p {
              line-height: 30px;
              width: 97%;
              float: left; }
          .container .con .main .boxes .process .row2 {
            overflow: hidden;
            width: 97%;
            float: right; }
            .container .con .main .boxes .process .row2 span {
              float: left;
              width: 2%;
              height: 30px;
              line-height: 30px;
              font-size: 30px;
              font-weight: bold; }
            .container .con .main .boxes .process .row2 p {
              line-height: 30px;
              width: 98%;
              float: left; }
        .container .con .main .boxes .faq {
          display: none; }
          .container .con .main .boxes .faq .question {
            padding: 6px 0 20px; }
          .container .con .main .boxes .faq a {
            line-height: 30px;
            color: #6781b7;
            text-decoration: none; }
          .container .con .main .boxes .faq a:hover {
            color: #b77231;
            text-decoration: underline; }
          .container .con .main .boxes .faq .box1 {
            position: fixed;
            z-index: 20;
            width: 100%;
            height: 100%;
            background: url("../img/opacity.png");
            top: 0;
            left: 0;
            display: none; }
            .container .con .main .boxes .faq .box1 .detail {
              background: #fff;
              position: absolute;
              width: 53%;
              padding-bottom: 6px;
              left: 50%;
              top: 50%; }
              .container .con .main .boxes .faq .box1 .detail h2 {
                padding: 12px 10px;
                width: 90%; }
              .container .con .main .boxes .faq .box1 .detail p {
                padding: 0 10px;
                line-height: 26px; }
              .container .con .main .boxes .faq .box1 .detail a {
                position: absolute;
                right: 0;
                top: 0;
                display: inline-block;
                width: 60px;
                height: 60px;
                background: url("../img/close.png"); }
              .container .con .main .boxes .faq .box1 .detail a:hover {
                background: url("../img/close_red.png"); }

.footer {
  height: 50px;
  background: #fff;
  color: #444444;
  line-height: 50px;
  text-align: center;
  margin: 200px 0 30px;
  font-family: myfont2;
  letter-spacing: 1px;
  font-size: 13px; }

.top {
  background: url("../img/arrowup.png") 3px -5px no-repeat #aaa;
  display: none;
  position: fixed;
  right: 80px;
  bottom: 30px;
  width: 80px;
  height: 80px;
  cursor: pointer; }

.top:hover {
  background: url("../img/arrowup.png") 3px -5px no-repeat #666; }

@media screen and (max-width: 1400px) {
  .wrapper {
    width: 960px; }

  .container .con .banner .text {
    width: 860px; }

  .container .con .main .boxes .programs .box {
    width: 900px;
    font-size: 16px; }

  .container .con .main .boxes .programs .box .detail {
    line-height: 24px;
    width: 900px; }

  .container .con .main .boxes .programs .box .detail2 {
    line-height: 22px; }

  .container .con .main .boxes .programs h1 {
    width: 900px; }

  .container .con .main .boxes .programs .process .box {
    width: 900px; }

  .top {
    right: 20px; } }
@media screen and (max-width: 980px) {
  .banner {
    width: 980px; }

  .nav, .footer {
    width: 980px; }

  .container .con .main {
    width: 980px; } }
.header .wrapper .logo {
  overflow: hidden;
  float: left; }

.header .wrapper .logo .text {
  height: 110px;
  overflow: hidden; }

.header .wrapper .top {
  overflow: hidden;
  float: left; }

.header .wrapper .top_box {
  height: 40px;
  overflow: hidden; }

.header .wrapper .top_box a {
  line-height: 40px; }

/*# sourceMappingURL=uce_study.css.map */
