@font-face {
  font-family: myfont;
  src: url("../font/opensans-condlight-webfont.eot");
  src: url("../font/OpenSans-CondLight.ttf") format("truetype"), url("../font/opensans-condlight-webfont.eot?#iefix'") format("embedded-opentype"), url("../font/opensans-condlight-webfont.woff") format("woff"), url("../font/opensans-condlight-webfont.svg") format("svg"); }
@font-face {
  font-family: myfont2;
  src: url("../font/opensans-webfont.eot");
  src: url("../font/openSans.ttf") format("truetype"), url("../font/opensans-webfont.eot?#iefix'") format("embedded-opentype"), url("../font/opensans-webfont.woff") format("woff"), url("../font/opensans-webfont.svg") format("svg"); }
@font-face {
  font-family: Roboto;
  src: url("../font/roboto-condensed-webfont.eot");
  src: url("../font/Roboto-Condensed.ttf") format("truetype"), url("../font/roboto-condensed-webfont.eot?#iefix'") format("embedded-opentype"), url("../font/roboto-condensed-webfont.woff") format("woff"), url("../font/roboto-condensed-webfont.svg") format("svg"); }
@font-face {
  font-family: BoldRoboto;
  src: url("../font/roboto-boldcondensed-webfont.eot");
  src: url("../font/Roboto-BoldCondensed.ttf") format("truetype"), url("../font/roboto-boldcondensed-webfont.eot?#iefix'") format("embedded-opentype"), url("../font/roboto-boldcondensed-webfont.woff") format("woff"), url("../font/roboto-boldcondensed-webfont.svg") format("svg"); }
* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

body {
  background: #e3e3e3; }

* {
  max-height: 99999px; }

.clear {
  clear: both; }

.wrapper {
  width: 1200px;
  margin: 0 auto; }

.header {
  height: 200px; }
  .header .wrapper {
    padding-top: 40px;
    height: 220px; }
    .header .wrapper .img {
      width: 100px;
      height: 100px;
      float: left; }
      .header .wrapper .img img {
        border: none; }
    .header .wrapper .text {
      font-family: "myfont";
      margin-left: 4px;
      width: 250px;
      float: left;
      font-size: 24px;
      letter-spacing: 2px;
      font-style: normal;
      text-align: center;
      color: #2D2D2D; }
      .header .wrapper .text .title {
        padding-bottom: 10px;
        border-bottom: 2px #ddbf9b solid; }
      .header .wrapper .text .gateway {
        font-size: 18px;
        color: #b77231;
        font-family: Arial;
        margin-top: 10px;
        letter-spacing: 0; }
    .header .wrapper .login_apply {
      float: right;
      width: 120px;
      margin-top: 30px; }
      .header .wrapper .login_apply a {
        display: block;
        text-decoration: none;
        color: #333;
        text-align: center;
        line-height: 30px;
        font-family: Roboto;
        margin-bottom: 6px;
        background: #fff; }
      .header .wrapper .login_apply a:hover {
        background: red;
        color: #fff; }

.nav_active {
  background-color: #cfa883 !important;
  color: #e3e3e3 !important; }

.nav {
  height: 44px;
  background: #b77231; }
  .nav .wrapper {
    position: relative; }
    .nav .wrapper a {
      display: inline-block;
      text-decoration: none;
      width: 16.667%;
      color: #2D2D2D;
      text-align: center;
      line-height: 44px;
      font-family: "myfont2";
      font-size: 13px;
      background: transparent; }
    .nav .wrapper .list {
      display: none;
      position: absolute;
      top: 44px;
      left: 142px;
      width: 136px;
      z-index: 10;
      text-align: center;
      background: #fff;
      line-height: 30px;
      font-family: myfont2;
      font-size: 14px; }
      .nav .wrapper .list li:hover {
        cursor: pointer; }

.top_box {
  float: right;
  width: 530px;
  margin-top: 40px; }
  .top_box a {
    padding: 8px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #cfa883;
    text-align: center;
    line-height: 30px;
    font-family: Roboto;
    border: 1px solid #cfa883;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }
  .top_box a:hover {
    background: #cfa883;
    color: #fff; }

.container {
  font-family: "Roboto";
  color: #666; }
  .container .wrapper {
    width: 1000px; }
    .container .wrapper .con {
      display: none;
      margin-top: 40px; }
      .container .wrapper .con h1 {
        margin-bottom: 20px;
        color: #b77231;
        font-weight: normal;
        font-family: BoldRoboto; }
    .container .wrapper .con_about {
      overflow: hidden; }
      .container .wrapper .con_about .photo {
        overflow: hidden; }
        .container .wrapper .con_about .photo .pic_row {
          overflow: hidden;
          margin-bottom: 2%; }
          .container .wrapper .con_about .photo .pic_row .pic_box {
            float: left;
            width: 23.5%;
            height: 170px;
            margin-right: 2%;
            overflow: hidden; }
          .container .wrapper .con_about .photo .pic_row img {
            width: 120%; }
          .container .wrapper .con_about .photo .pic_row .add_pic {
            width: 100%;
            height: 170px;
            background: url("../img/add.png") no-repeat center #888;
            margin-bottom: 24px;
            cursor: pointer; }
          .container .wrapper .con_about .photo .pic_row .upload_box {
            display: none;
            z-index: 500;
            position: fixed;
            background: url("../img/opacity1.png");
            top: 0;
            left: 0;
            height: 100%;
            width: 100%; }
            .container .wrapper .con_about .photo .pic_row .upload_box .upload {
              position: absolute;
              padding: 20px;
              width: 600px;
              height: 300px;
              left: 50%;
              top: 50%;
              margin-left: -320px;
              margin-top: -170px;
              background: #fff; }
              .container .wrapper .con_about .photo .pic_row .upload_box .upload h3 {
                font-size: 24px;
                margin-bottom: 30px; }
              .container .wrapper .con_about .photo .pic_row .upload_box .upload input[type='submit'] {
                width: 60px;
                height: 30px;
                background: red;
                border: none;
                color: #fff;
                margin-top: 30px; }
              .container .wrapper .con_about .photo .pic_row .upload_box .upload .close {
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
                width: 60px;
                height: 60px;
                background: url("../img/close.png"); }
          .container .wrapper .con_about .photo .pic_row .add_pic:hover {
            background-color: #777; }
      .container .wrapper .con_about .load {
        height: 40px;
        text-align: center;
        cursor: pointer;
        line-height: 40px;
        background: #fff; }

.pic_show {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/opacity1.png"); }
  .pic_show .show {
    position: absolute;
    width: 1000px;
    height: 600px;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -300px;
    overflow: hidden;
    background-size: 180%; }
  .pic_show .close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    top: 0;
    background: url("../img/close1.png") no-repeat;
    cursor: pointer; }

.footer {
  height: 50px;
  background: #fff;
  color: #444444;
  line-height: 50px;
  text-align: center;
  margin: 200px 0 30px;
  font-family: myfont2;
  letter-spacing: 1px;
  font-size: 13px; }

.top {
  background: url("../img/arrowup.png") 3px -5px no-repeat #aaa;
  display: none;
  position: fixed;
  right: 80px;
  bottom: 30px;
  width: 80px;
  height: 80px;
  cursor: pointer; }

.top:hover {
  background: url("../img/arrowup.png") 3px -5px no-repeat #666; }

@media screen and (max-width: 1400px) {
  .wrapper {
    width: 960px; }

  .container .wrapper {
    width: 900px; }

  .top {
    right: 20px; }

  .container .wrapper .con_about .photo .left .add_pic {
    height: 159px; }

  .pic_show .show {
    width: 900px;
    margin-left: -450px; } }
@media screen and (max-width: 980px) {
  .banner {
    width: 980px; }

  .nav, .footer {
    width: 980px; } }
.header .wrapper .logo {
  overflow: hidden;
  float: left; }

.header .wrapper .logo .text {
  height: 110px;
  overflow: hidden; }

.header .wrapper .top {
  overflow: hidden;
  float: left; }

.header .wrapper .top_box {
  height: 40px;
  overflow: hidden; }

.header .wrapper .top_box a {
  line-height: 40px; }

/*# sourceMappingURL=uce_photo.css.map */
