@font-face {
  font-family: myfont;
  src: url("../font/opensans-condlight-webfont.eot");
  src: url("../font/OpenSans-CondLight.ttf") format('truetype'),
  url("../font/opensans-condlight-webfont.eot?#iefix'") format('embedded-opentype'),
  url("../font/opensans-condlight-webfont.woff") format('woff'),
  url("../font/opensans-condlight-webfont.svg") format('svg');
}
@font-face {
  font-family: myfont2;
  src: url("../font/opensans-webfont.eot");
  src: url("../font/openSans.ttf") format('truetype'),
  url("../font/opensans-webfont.eot?#iefix'") format('embedded-opentype'),
  url("../font/opensans-webfont.woff") format('woff'),
  url("../font/opensans-webfont.svg") format('svg');
}
@font-face {
  font-family: Roboto;
  src: url("../font/roboto-condensed-webfont.eot");
  src: url("../font/Roboto-Condensed.ttf") format('truetype'),
  url("../font/roboto-condensed-webfont.eot?#iefix'") format('embedded-opentype'),
  url("../font/roboto-condensed-webfont.woff") format('woff'),
  url("../font/roboto-condensed-webfont.svg") format('svg');
}
@font-face {
  font-family: BoldRoboto;
  src: url("../font/roboto-boldcondensed-webfont.eot");
  src: url("../font/Roboto-BoldCondensed.ttf") format('truetype'),
  url("../font/roboto-boldcondensed-webfont.eot?#iefix'") format('embedded-opentype'),
  url("../font/roboto-boldcondensed-webfont.woff") format('woff'),
  url("../font/roboto-boldcondensed-webfont.svg") format('svg');
}

*{
  margin:0;
  padding:0;
  max-height:9999px;
}
body{
  background:#e3e3e3;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: #bbb;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #777;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #777;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #bbb;
}
input[type='radio'],input[type="checkbox"]{
  border:none;
}
textarea{
  overflow: auto;
}
input[type='submit']{
  border:none;
}
.header{
  height:200px;
  .wrapper{
    width:63%;
    margin:0 auto;
    padding-top:40px;
    height:220px;
    .img{
      width: 100px;
      height:100px;
      float:left;
      img{
        border:none;
      }
    }
    .text{
      font-family:"myfont";
      margin-left:4px;
      width:250px;
      float:left;
      font-size:24px;
      letter-spacing: 2px;
      font-style: normal;
      text-align: center;
      color:#2D2D2D;
      .title{
        padding-bottom:10px;
        border-bottom:2px #ddbf9b solid;
      }
      .gateway{
        font-size: 18px;
        color:rgba(183,114,49,1);
        font-family: Arial;
        margin-top:10px;
        letter-spacing: 0;
      }
    }
  }
}
.shell{
  width:1200px;
  margin:0 auto;
  .clear{
    clear: both;
    height:0;
  }
  .user{
    float: left;
    width:20%;
    height:650px;
    background:#ccc;
    font-family: Roboto;
    font-size: 18px;
    .head{
      height:200px;
      background:url("../img/head.png") center 30px no-repeat;
      border-bottom:1px solid #eee;
      overflow: hidden;
      #username{
        display: block;
        text-align: center;
        margin:150px auto 0;
        color:#777;
        width:120px;
        height:20px;
        white-space:nowrap;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        overflow:hidden;
      }
    }
    a{
      display: block;
      height:70px;
      text-align: center;
      line-height: 80px;
      border-bottom:1px solid #eee;
      text-decoration: none;
      color:#333;
    }
    .exit{
      background: #ce0a0a;
      color:#fff;
    }
    .active{
      border-left:4px solid red;
      background:#fff;
    }
  }
  .con_box{
    float: right;
    width:75%;
    background:#fff;
    padding:2% 2% 4% 2%;
    .my_application{
      display: none;
      h2{
        margin:50px 0 80px;
        font-family: BoldRoboto;
        font-size: 30px;
      }
      .title{
        margin:50px 0 20px;
        font-family: Roboto;
        font-size: 24px;
      }
      .record,.status{
        .none{
          color:#666;
          font-family: Roboto;
        }
      }
    }
    .security{
      display: none;
      font-family: Roboto;
      margin-bottom:70px;
      a{
        display: block;
        height:60px;
        border:1px solid #aaa;
        text-align: center;
        line-height: 60px;
        color:#666;
        text-decoration: none;
        margin-bottom:50px;
      }
      a:hover{
        background: #b70f20;
        color:#fff;
      }
      h2{
        margin:50px 0 80px;
        font-family: BoldRoboto;
        font-size: 30px;
      }
      .password,.Email{
        display:none;
        margin-bottom:60px;
        .box{
          overflow: hidden;
          width:70%;
          margin:0 auto 20px;
          label{
            display: inline-block;
            float: left;
            width:28%;
            height:40px;
            line-height: 40px;
          }
          input[type="text"],input[type="password"]{
            width:70%;
            float: right;
            height:40px;
          }
          input[type="submit"]{
            float: right;
            text-align: center;
            background:dodgerblue;
            color:#fff;
            text-indent: 0;
            width:80px;
            height:40px;
            cursor:pointer;
          }

        }
        .right{
          float: right;
          width:70%;
          .code{
            width:55%;
            float: left;
            #Verification_Code{
              width:99%;
            }
          }
          .get_code{
            width:43%;
            float: right;
            #get_code,#get_code1{
              width:100%;
              text-indent: 0;
              border-radius:0;
              height:42px;
              line-height: 42px;
              *line-height:38px;
              line-height:40px\9;
              background:#ddd;
              color:#777;
            }
          }
        }
        .return_info,.return_info1{
          display: block;
          width:70%;
          margin:0 auto;
          color:red;
        }
      }
    }
    .detailed_info{
      display: none;
      h2{
        margin:50px 0 80px;
        font-family: BoldRoboto;
        font-size: 30px;
      }
    }
  }
}

.footer{
  height:50px;
  background:#fff;
  color:#444444;
  line-height: 50px;
  text-align: center;
  margin:200px 0 30px;
  font-family: myfont2;
  letter-spacing: 1px;
  font-size: 13px;
}

@media screen and (max-width:1400px){
  .shell{
    width:980px;
  }
}
